
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<footer class="footer">
    <div class="footer-container">

        
        <div class="footer-brand">

            
            <div class="logo">
                <a href="../index.html" class="logo-wrap">
    <i data-lucide="mic" class="logo-icon"></i>
    <span class="logo-text">VOX <b>Studio</b></span>
  </a>
            </div>

            <p>
                Professional voiceover, dubbing, podcast editing, and premium audio production crafted for modern creators.
            </p>

           
            <div class="social-icons">
                <ul>
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>

        </div>

        
        <div class="footer-links">
            <h3 style="
position: relative;
display: inline-block;
padding-bottom: 2px;
">
Quick Links
<span style="
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
width:60%;
height:2px;
background:#f59e0b;
box-shadow:0 0 10px #22c55e;
"></span>
</h3>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about/about.html">About</a></li>
                <li><a href="../services/services.html">Services</a></li>
                <li><a href="../pricing/pricing.html">Pricing</a></li>
                <li><a href="../contact/contact.html">Contact</a></li>
            </ul>
        </div>

        
<div class="footer-services">
    <h3 style="
position: relative;
display: inline-block;
padding-bottom: 2px;
">
Studio Services
<span style="
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
width:60%;
height:2px;
background:#f59e0b;
box-shadow:0 0 10px #22c55e;
"></span>
</h3>
    <ul>
        <li><a href="../services/voiceover-details.html">Voice Recording</a></li>
        <li><a href="../services/podcast-editing.html">Podcast Editing</a></li>
        <li><a href="../services/music-production.html">Audio Mixing</a></li>
        <li><a href="../services/sound-design.html">Sound Design</a></li>
    </ul>
    <h3 style="
position: relative;
display: inline-block;
padding-bottom: 2px;
">
Additional
<span style="
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
width:60%;
height:2px;
background:#f59e0b;
box-shadow:0 0 10px #22c55e;
"></span>
</h3>
    <ul>
        <li><a href="../404page.html">404 Page</a></li>
        <li><a href="../coming-soon.html">Coming Soon</a></li>
    </ul>
</div>


        
        <div class="footer-contact">
            <h3 style="
position: relative;
display: inline-block;
padding-bottom: 2px;
">
contact
<span style="
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
width:60%;
height:2px;
background:#f59e0b;
box-shadow:0 0 10px #22c55e;
"></span>
</h3>
            <p><i data-lucide="mail"></i> info@voxstudio.com</p>
<p><i data-lucide="phone"></i> +91 9999999999</p>
<p><i data-lucide="map-pin"></i> Hyderabad, India</p>
<p><i data-lucide="clock"></i> Mon - Sat : 9AM - 7PM</p>
        </div>

    </div>

    <div class="footer-bottom">
        <div class="footer-copy">
            © 2026 VOX Studio. All rights reserved.
        </div>

        <div class="footer-policy">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies</a>
        </div>
    </div>
</footer>