<header class="navbar">
    <div class="nav-container">

        <div class="logo">
    <a href="../index.html" class="logo-wrap">
        <span class="logo-icon">🎙️</span>
        <span class="logo-text">VOX <b>Studio</b></span>
    </a>
</div>

        <nav class="nav-menu" id="navMenu">
            <ul class="nav-links">

                
                <li class="dropdown">
                    <a href="../home-2/home2.html">Home ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="../home-2/home2.html">Home v2</a></li>
                    </ul>
                </li>

                <li><a href="../about/about.html">About</a></li>

                
                <li class="dropdown">
                    <a href="../services/services.html">Services ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="../services/voiceover-details.html"><span>🎙️</span>Voice Over Recording</a></li>
                        <li><a href="../services/podcast-editing.html"><span>🎧</span>Podcast Editing</a></li>
                        <li><a href="../services/sound-design.html"><span>🎚️</span>Sound Design</a></li>
                        <li><a href="../services/music-production.html"><span>🎼</span>Music Production</a></li>
                    </ul>
                </li>

                <li><a href="../pricing/pricing.html">Pricing</a></li>

                
                <li class="dropdown">
                    <a href="../blog/blog.html">Blog ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="../blog/voice-tips.html">Voice Tips</a></li>
                        <li><a href="../blog/audio-tech.html">Audio Tech</a></li>
                        <li><a href="../blog/industry-trends.html">Industry Trends</a></li>
                    </ul>
                </li>

                <li><a href="../contact/contact.html">Contact</a></li>

            </ul>

            <div class="mobile-actions">
        <a href="../signup.html" class="nav-btn login-btn ">Login</a>
        <a href="../dashboard/dashboard.html" class="nav-btn dashboard-btn">Admin Dashboard</a>
    </div>
        </nav>

        <div class="nav-actions">
            <a href="../signup.html" class="nav-btn login-btn glass-btn">Login</a>
            <a href="../dashboard/dashboard.html" class="nav-btn dashboard-btn">Admin Dashboard</a>

            <button id="theme-toggle">☾</button>

            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
                
            </div>

            
        </div>

    </div>
</header>